body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #412234;
  background-color: #f6d8ae;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6d8ae;
}

button {
  background-color: #96705b;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}

input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.textLogin {
  color: #412234;
  font-size: 18px;
  text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
}

.vl {
  border-left: 2px solid black;
  height: 150px;
  margin-right: 5px;
  margin-left: 5px;
}

#filterText {
  margin-top: 10px;
  margin-bottom: 10px;
}
